@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap');

* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.wrapper {
  height: 100%;
}

body {
  font-family: 'Baloo Thambi 2';
}

.wrapper {
  display: grid;
  grid-template-areas: 'header header' 'main main' ' footer footer';
  grid-template-rows: auto 1fr auto;
}
